body {
    padding: 0 30px;
    background-color: #f8f8f8;
}

.container {
    width: 75%;
    /* max-width: 900px; */
    margin: 0 auto;
    /* height: 430px; */
    padding: 20px;
    background-color: #FFF;
    text-align: center;
}

.image-container {
    border: 1px solid #000;
    /* height: 350px; */
    width: 90%;
    /* margin: 1px 5px; */
}

.image {
    margin: 0 auto;
}

.button-container {
    text-align: center;
    margin-top: 20px;
}

.counter {
    background-color: rgb(192, 244, 3);
    padding: 0 8px;
    border: 1px solid #e2e2e2;
    float: right;
    margin-right: 5%;
}

.btn {
    margin: 10px;
    padding: 12px 20px;
    border: none;
    background-color: #03A9F4;
    width: 180px;
    cursor: pointer;
    font-size: 18px;
    color: #FFF;
}

.btn:hover {
    background-color: #0199dd;
}

.shadow-btn {
    /* margin: 10px;
    padding: 12px 20px; */
    border: none;
    background-color: rgb(99, 99, 99);
    width: 60px;
    height: 60px;
    border-radius: 30px;
    cursor: pointer;
    font-size: 30px;
    color: #FFF;
    top: 25%;
    position: absolute;
}

.shadow-btn.left {
    float: left;
}

.shadow-btn.right {
    float: right;
}


/* .btn.prev-btn {
    background-color: #079ad4;
}

.btn.next-btn {
    background-color: #079ad4;
} */